/* Clear defaulted style in web browser */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 2.5rem;
}

h1 {
    margin: 1rem;
    font-size: 300%;
    /* text-size-adjust: ; */
}

.intro {
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightblue;
}

.intro img {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
}

.intro > div {
    margin: 4em;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.intro p {
    margin: 0.5rem;
    font-size: 100%;
}

#highlight{
    font-size: 250%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background: #f4f4f4;
}

@media (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
    }
}
